.jumbotron#disclaimer {
margin-top: 50px;
text-align: center;

}

#userInfo{
  margin-top: 50px;
  display: none;
}
#transaction_output{
  display: none;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  max-height: 300px;
  margin-top: 30px;
  border-radius: 180px;
}

#bkgr {
  /*background: url(../Cannabis-plants-wallpaper-HD.jpg);*/
  background-size: cover;
  background-color: #bcdb93 !important;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

button#newSpentBtn.btn {
margin-top: 5px;
}

button#newUserBtn {
margin-bottom: 5px;
}

label {
  margin-top: 5px;
}
